<div class="jumbotron">
    <p>To track existing container, insert container ID below</p>
    <p><input type="text" ng-model="vm.trackingId"></p>
    <button class="btn btn-primary" ng-click="vm.track(vm.trackingId)">Track</button>
    <hr>
    <p><a class="btn btn-primary btn-lg" ng-click="vm.registerNew()">Register new container</a></p>
    <div class="alert alert-success" role="alert" ng-if="vm.newContainer">
        <p>New container created successfully!</p>
        <p>Container ID: {{ vm.newContainer.id }}</p>
        <p><a href="#/tracking/{{ vm.newContainer.id }}" class="btn btn-sm btn-success">Track it</a></p>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="vm.error">
        Error registering new container: {{ vm.error }}
    </div>
</div>
